<div class="container sign-up-div">
  <div class="row text-center">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
      <h1><small>sign up 🎉</small></h1>
    </div>
    <div class="col-xs-3">
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div id="signup" class="col-xs-6">
      <div class="form-group text-center form-div">
      <%= form_for(:borrower, url: borrowers_path ) do |f| %>
        <%= f.collection_select(:annual_income, BorrowerAttribute.annual_income, :score, :label, { prompt:"annual income" }, { class: "form-control text-input", required:true }) %><br>
        <%= f.collection_select(:monthly_housing, BorrowerAttribute.housing_costs, :score, :label, { prompt:"monthly mortgage or rent payment" }, { class: "form-control text-input", required:true }) %><br>
        <%= f.collection_select(:monthly_credit_pmt, BorrowerAttribute.credit_payments, :score, :label, { prompt:"monthly credit payment" }, { class: "form-control text-input", required:true }) %><br>
        <%= f.collection_select(:dependents, BorrowerAttribute.dependents, :score, :label, { prompt:"number of dependents" }, { class: "form-control text-input", required:true }) %><br>
        <%= submit_tag "Apply", class:"btn btn-checkout" %>
      <% end %>
      </div>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
</div>
