<div class="container sign-up-div">
  <div class="row text-center">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
      <h1><small>sign up 🎉</small></h1>
    </div>
    <div class="col-xs-3">
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div id="signup" class="col-xs-6">
      <div class="form-group text-center form-div">
      <%= form_for(:borrower, url: borrowers_path ) do |f| %>
        <%= f.label :description, class:"sr-only"  %>
        <%= f.text_field :description, required:true, placeholder: "description", class:"form-control text-input" %><br>
        <%= f.label :annual_income, class:"sr-only"  %>
        <%= f.text_field :annual_income,required:true, placeholder: "annual income", class:"form-control text-input" %><br>
        <%= f.label :monthly_housing, class:"sr-only"  %>
        <%= f.text_field :monthly_housing, required:true, placeholder: "monthly mortgage or rent payment", class:"form-control text-input" %><br>
        <%= f.label :monthly_credit_pmt, class:"sr-only"  %>
        <%= f.text_field :monthly_credit_pmt,required:true, placeholder: "monthly credit payment", class:"form-control text-input" %><br>
        <%= f.label :dependents, class:"sr-only"  %>
        <%= f.text_field :dependents,required:true, placeholder: "number of dependents", class:"form-control text-input" %><br>
        <div class="form-inline">
          <div class="form-group">
            <label class="file">
            <input id="imageFormCover" class="form-control" type="text" readonly>
            <a class="btn btn-primary" onclick="$('input[id=file_input]').click();">Add Image</a>
            </label>
          </div>
        </div>
        <br>
        <%= submit_tag "Apply", class:"btn btn-checkout" %>
      <% end %>
      </div>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
</div>
