<div class="order-hero-unit order-history-hero-unit">
  <div class="container text-center hero-container">
    <h1>oh, the nostalgia.</h1>
  </div>
</div><br>
<div id="loans" class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="table-responsive">
        <table class="table table-hover table-condensed table-projects">
          <thead>
            <tr>
              <th class="text-center">loan</th>
              <th class="text-center">project</th>
              <th class="text-center">status</th>
              <th class="text-center">amount</th>
              <th></th>
            </tr>
          </thead>
          <% num = 1 %>
          <% @loans.each do |loan| %>
            <tr id="<%= loan.id %>-loan">
              <td><%= link_to num, borrower_user_loan_path(current_user, loan) %></td>
              <td class="text-nowrap"><%= link_to loan.project.name, borrower_user_project_path(current_user, loan.project) %></td>
              <td><%= loan.status %></td>
              <td><%= loan.quantity %></td>
            </tr>
            <% num += 1 %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
