<div class="order-hero-unit order-history-hero-unit">
  <div class="container text-center hero-container">
    <h1>oh, the nostalgia.</h1>
  </div>
</div><br>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Projects</button>
      </span>
      <input id="project-search" type="text" class="form-control" placeholder="Search by project name">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Loans</button>
      </span>
      <input id="loan-search" type="text" class="form-control" placeholder="Search by loan amount">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 --></div>
<br>
<div id="loans" class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <% @projects.each do |project| %>
          <div class="table-responsive">
            <table class="table table-hover table-condensed table-projects squeek">
            <tr id="<%= project.id %>-project" class="project-row">
              <td class="project-name"> <%= link_to project.name, borrower_user_project_path(current_user, project) %> </td>
              <td>Left to Pay: <%= Repayment.remaining_pmt(project) %> of <%= project.display_goal %> </td>
              <td></td>
              <td><%= link_to "pay back", borrower_user_repayment_path(current_user, Repayment.find_by(project_id: project.id)), class:"btn btn-checkout btn-xs"%></td>
            </tr>
              <tr>
                <th class="text-center">loan</th>
                <th class="text-center">status</th>
                <th class="text-center">amount</th>
                <th></th>
              </tr>
            <% num = 1 %>
            <% @loans.where(project_id: project.id).each do |loan| %>
              <tr id="<%= loan.id %>-loan" class="loan-row">
                <td><%= link_to num, borrower_user_loan_path(current_user, loan) %></td>
                <td><%= loan.status %></td>
                <td class="loan-value" ><%= loan.quantity %></td>
                <td></td>
              </tr>
              <% num += 1 %>
            <% end %>
            </table>
            </div>
            <br>
          <% end %>
    </div>
  </div>
</div>
