<ul class="sidebar-nav">
  <li class="sidebar-brand">
    <a href="#">
    Hey <%= current_user.first_name.downcase %>
    </a>
  </li>
  <li>
    <%= link_to "dashboard", root_path %>
  </li>
  <li>
    <%= link_to "active orders", root_path %>
  </li>
  <li>
    <%= link_to "completed orders", root_path %>
  </li>
  <li>
    <%= link_to "cancelled orders", root_path %>
  </li>
  <li>
    <%= link_to "active projects", root_path %>
  </li>
  <li>
    <%= link_to "inactive projects", root_path %>
  </li>
  <li>
    <%= link_to "add project", root_path %>
  </li>
  <li class="sidebar-header">
    <p>user interface</p>
  </li>
  <li>
    <%= link_to "shop all", root_path %>
  </li>
</ul>
