<ul class="sidebar-nav">
  <li class="sidebar-brand">
    <a href="#">
    Hey <%= current_user.first_name.downcase %>
    </a>
  </li>
  <li>
    <%= link_to "dashboard", borrower_user_path(current_user) %>
  </li>
  <li>
    <%= link_to "active loans", borrower_orders_path %>
  </li>
  <li>
    <%= link_to "active projects", borrower_projects_path %>
  </li>
  <li>
    <%= link_to "add project", new_borrower_project_path %>
  </li>
  <li>
    <%= link_to "funded projects", borrower_projects_path %>
  </li>
  <li>
    <%= link_to "lend", projects_path %>
  </li>
</ul>
