<ul class="nav pull-left user-cart">

  <% if current_user  %>
    <li class="dropdown pull-right nav-icon">
      <a href="#" data-toggle="dropdown" style="color:#777; margin-top: 5px;" class="dropdown-toggle"><i class="fa fa-user fa-lg"></i></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to current_user.fullname.downcase, user_path(current_user) %>
        </li>
        <% if current_user.loans? %>
        <li>
          <%= link_to "loan history", user_orders_path(current_user) %>
        </li>
        <% end %>
        <li>
          <%= link_to "logout", logout_path, method: :delete %>
        </li>
      </ul>
    </li>
    <li class="pull-right nav-icon">
      <a id="borrow" href="/borrower/users/new" style="color:#777; margin-top: 5px;">borrow</a>
    </li>
    <li class="pull-right nav-icon">
      <a id="lend" href="/lend" style="color:#777; margin-top: 5px;">lend</a>
    </li>
    <% if !@cart.contents.empty? %>
      <li class="pull-right nav-icon">
        <a id="cart" href="/cart" style="color:#777; margin-top: 5px;">loans ($<%= @cart.count %>) </a>
      </li>
    <% end %>
  <% else %>
    <li class="pull-right nav-icon">
      <a id="login" href="/login" style="color:#777; margin-top: 5px;"><i class="fa fa-sign-in fa-lg"></i></a>
    </li>
    <li class="pull-right nav-icon">
      <a id="borrow" href="/borrower/users/new" style="color:#777; margin-top: 5px;">borrow</a>
    </li>
    <li class="pull-right nav-icon">
      <a id="lend" href="/lend" style="color:#777; margin-top: 5px;">lend</a>
    </li>
    <% if !@cart.contents.empty? %>
      <li class="pull-right nav-icon">
        <a id="cart" href="/cart" style="color:#777; margin-top: 5px;">loans ($<%= @cart.count %>) </a>
      </li>
    <% end %>
  <% end %>
</ul>
