<div class="col-xs-12 col-sm-6 col-md-4 project-div">
  <div class="row sm-project-row project-row">
    <div class="col-xs-12" id="<%= project.id %>-index">
      <%= link_to image_tag(project.image.url(:show), class: "img-responsive project-image"), project_path(project.slug), id: "#{project.id}-project-image" %>
      <div class="sm-project-info">
        <h4><%= link_to project.name, project_path(project.slug), id: "#{project.id}-project" %></h4>
        <p><%= project.country.name %> | <%= project.category.name %> | <%= project.display_goal_remaining %> needed</p>
        <div class="col-xs-9">

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= project.remaining_goal %>" aria-valuemin="0" aria-valuemax="<%= project.goal %>" style="width: <%= project.percent_funded %>%;">
            <%= project.percent_funded %>%
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="project-info">
      <h4><%= link_to project.name, project_path(project.slug), id: "#{project.id}-project" %></h4>
      <p><%= project.description %></p>
    </div>
  </div>
  <div class="row xs-project-row project-row">
    <div class="col-xs-6">
      <%= link_to image_tag(project.image.url(:show), class: "img-responsive"), project_path(project.slug), id: "#{project.id}-project-image" %>
      <div class="sm-project-info">
        <h4><%= link_to project.name, project_path(project.slug), id: "#{project.id}-project" %></h4>
        <p><%= project.description %></p>
      </div>
    </div>
    <div class="project-info">
      <h4><%= link_to project.name, project_path(project.slug), id: "#{project.id}-project" %></h4>
      <p><%= project.description %></p>
    </div>
  </div>
</div>
