<div class="hero-unit">
  <div class="container text-center hero-container">
      <h1><span class="landing-span">Fund the change.</span></h1>
      <h2>$10 micro loans for good</h2>
      <%= link_to "become a lender", projects_path, class:"btn btn-primary" %>
  </div>
</div>
<br>
<%= render partial: "shared/quote_div" %>
<%= render partial: "shared/category_imgs" %>
<br>
<%= render partial: "shared/search_projects" %>
<br>
<br>
<a href="#" class="borrow-hero-unit">
  <div class="borrow-hero-unit">
      <div class="container text-center hero-container">
        <h1>borrow with <span class:"bold-header">Lending Owl<span></h1>
          <br>
          <% if current_user %>
            <%= link_to "become a borrower", new_borrower_path, class:"btn btn-primary" %>
          <% else %>
            <%= link_to "become a borrower", new_borrower_user_path, class:"btn btn-primary" %>
          <% end %>
    </div>
  </div>
</a>
<%= render partial: "shared/mailing_list" %>
<%= render partial: "shared/footer" %>
