<% if params[:status] == "active" %>
  <h3 class="status-<%= params[:status] %> admin-project-index-header">active projects</h3>
<% elsif params[:status] == "deactive" %>
  <h3 class="status-<%= params[:status] %> admin-loan_transaction-project-header">deactived projects</h3>
<% else %>
  <h3 class="status-<%= params[:status] %> admin-loan_transaction-project-header">completed projects</h3>
<% end %>
<br>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-projects">
    <thead>
      <tr>
        <th></th>
        <th>name</th>
        <th>goal</th>
        <th>remaining goal</th>
        <th>description</th>
        <th>category</th>
        <th>country</th>
        <% if params[:status] == "active" %>
          <th>deactivate project?</th>
        <% end %>
      </tr>
    </thead>
    <% if !@projects.nil? %>
      <% @projects.each do |project| %>
        <tr id="<%= project.id %>-project">
          <td><%= image_tag(project.image.url(:small), class:"admin-project-image") %></td>
          <td><%= project.name %></td>
          <td><%= project.display_goal %></td>
          <td><%= project.display_goal_remaining %></td>
          <td><%= project.description %></td>
          <td><%= project.category.name %></td>
          <td><%= project.country.name %></td>
          <% if params[:status] == "active" %>
            <%= form_for [:admin, project], url: admin_project_path(current_user, project) do |f| %>
            <td><%= f.submit "deactivate project", class:"btn btn-checkout btn-xs"%></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
