<div class="order-hero-unit order-history-hero-unit">
  <div class="container text-center hero-container">
    <h1>oh, the nostalgia.</h1>
  </div>
</div><br>
<div id="orders" class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>order</th>
              <th>project</th>
              <th>date</th>
              <th>project status</th>
              <th>total</th>
              <th></th>
            </tr>
          </thead>
          <% current_user.loans.each do |loan| %>
            <tr>
              <td><h4><%= loan.order.id %></h4></td>
              <td><h4><%= link_to loan.project.name, project_path(loan.project.slug) %></h4></td>
              <td><h4><%= loan.date %></h4></td>
              <td><h4><%= loan.project.status %></h4></td>
              <td><h4><%= loan.display_total %></h4></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
