<div class="order-hero-unit">
  <div class="container text-center hero-container">
    <h1>sweet nectar of the coffee gods.</h1>
  </div>
</div>
<div id="project" class="container">
  <div class="row">
  </div><br><br>
  <div class="row">
    <div class="col-sm-8">
      <div class="table-responsive">
        <table class="table table-hover table-condensed table-projects">
          <thead>
            <tr>
              <th></th>
              <th class="text-center">project</th>
              <th class="text-center">remaining goal</th>
              <th class="text-center">loan amount</th>
            </tr>
          </thead>
          <% @cart.projects.each do |project| %>
            <tr>
              <td><%= image_tag(project.image.url(:small), class: "project_image img-responsive") %></td>
                <td><h4><%= project.name %></h4></td>
                <td><h4><%= project.display_goal_remaining %></h4></td>
                <td><h4>$<%= @cart.contents[project.id.to_s] %></h4></td>
            </tr>
          <% end %>
            <tfoot>
              <th></th>
              <th></th>
              <th></th>
              <th class="order-total">Total:</th>
              <th class="order-total">$<%= cart_total(@cart.projects) %></th>
            </tfoot>
        </table>
      </div>
    </div>
    <div class="col-sm-4 text-center checkout-con">
      <div class="cart text-center">
        <h3>Hey, <%= current_user.fullname %>.</h3>
        <h4>Your total is $<%= cart_total(@cart.projects) %></h4><br>
        <p>Thanks so much for your loans. Click "submit loans" to finish up.</p>
          <%= render partial: "checkout_form", locals: {amount: raw_cart_total(@cart.projects) } %>
      </div>
    </div>
  </div>
</div>
