<div class="container-fluid">

  <div class="category-list">
    <%= render partial: "shared/category_imgs" %>
  </div>
  <%= render partial: "shared/search_projects" %>
  <% @categories.each do |category| %>
    <div class="row">
      <div class="col-xs-12 category-name">
        <h2><%= link_to category.name, category_path(category.slug) %></h2>
      </div>
    </div>
    <div class="aligncenter divider">-</div>
    <div class="row">
      <% category.active_projects.each do |project| %>
        <%= render partial:"shared/project_loop", locals: {project: project} %>
      <% end %>
    </div>
  <% end %>
  <%= render partial: "shared/featured_projects" %>
</div>
<%= render partial: "shared/mailing_list" %>
