<% if current_user && current_user.projects.find_by(id: @project.id) %>
  <%= render partial:"edit_project" %>
<% else %>
  <div id="project" class="container">
    <div class="project-header">
      <h2><%= @project.name %></h2>
      <p><%= @project.description %></p>
    </div>
    <div class="row projects-rows">
      <div class="col-sm-7">
        <div class="project-images">
            <%= image_tag(@project.image.url(:show), class: "img-responsive") %>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="cart text-center">
          <h3><%= @project.name %></h3>
          <% if @project.funded? %>
            <h2 class="text-center">Funded!</h2><br>
          <% else %>
            <h2 class="text-center">Project Funding Goal: <%= @project.display_goal %></h2><br>
            <h2 class="text-center"><%= @project.display_goal_remaining %> left go!</h2><br>
            <%= form_tag(cart_projects_path(project_id: @project.id), method: "post") do %>
              <select class="form-control" name="loan-amount">
                <%= render partial: "shared/options"  %>
              </select><br>
              <%= submit_tag "Loan", class:"form-control btn btn-lending-owl"%>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <br><br>
    <div class="category-name">
      <h2>more stuff you may like</h2>
      <div class="aligncenter divider">-</div>
    </div>
    <%= render partial: "shared/featured_projects_country" %>
  </div>
  <%= render partial: "shared/mailing_list" %>
  <%= render partial: "shared/footer" %>
<% end %>
