<div class="cart-hero-unit order-hero-unit">
  <div class="container text-center hero-container">
    <h1>so close to awesome.</h1>
  </div>
</div><br><br>
<div id="project" class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 class="shopping-cart-title">Shopping Cart</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <% @cart.projects.each do |project| %>
      <div class="cart-project">
        <div id="<%= project.id %>-project">
          <div class="row">
            <div class="col-xs-5">
              <div class="cart-image">
                <%= image_tag(project.image.url(:index), class: "project_image img-responsive") %>
              </div>
              <h5><%= link_to "remove from cart", cart_project_path(project.id), class:"btn btn-lending-owl", method: :delete %></h5>
            </div>
            <div class="col-xs-4 col-sm-7">
              <div class="row">
                <p class="project-title"><%= project.name %></p>
                <br>
                <h3 class="project-goal project-goal-cart">Remaining Goal: $<%= project.remaining_goal - @cart.contents[project.id.to_s] %></h3>
                <h3 class="project-goal project-goal-cart">Your loan: $<%= @cart.contents[project.id.to_s] %></h3>
                <div id="quantity-dropdown" class="row text-left">
                  <div class="form-inline">
                    <%= form_tag(cart_project_path(id: project.id)) do %>
                      <input type="hidden" name="_method" value="patch">
                      <div class="col-xs-6 col-sm-4 col-md-3">
                        <select class="form-control" name="loan-amount">
                          <%= render partial: "shared/loan_amount", locals: {remaining: project.remaining_goal}  %>
                        </select><br>
                      </div>
                      <div class="text-left">
                        <%= submit_tag "Update", class:"btn btn-lending-owl"%>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-sm-4 col-sm-offset-1 text-center checkout-con">
      <div class="cart">
        <div class="project-header">
        </div>
        <h1 class="cart-total">$<%= @cart.count %></h1>
        <div class="checkout">
          <% if current_user %>
            <%= link_to "Confirm Loan", new_user_order_path(current_user), class:"btn btn-checkout form-control" %>
          <% else %>
            <%= link_to "Confirm Loan", checkout_login_path, class:"btn btn-checkout form-control" %>
          <% end %>
        </div>
        <h4>or</h4>
        <div class="continue-shopping">
          <%= link_to "Continue Shopping", projects_path, class:"btn btn-primary form-control" %>
        </div>
      </div>
    </div>
  </div>
</div>
