<div class="table-responsive">
  <table class="table table-hover table-condensed table-projects">
    <thead>
      <tr>
        <th></th>
        <th>name</th>
        <th>goal</th>
        <th>description</th>
        <th>category</th>
        <th>country</th>
        <th>update image</th>
      </tr>
    </thead>
    <% if !@projects.nil? %>
      <% @projects.each do |project| %>
        <tr id="<%= project.id %>-project">
          <td><%= image_tag(project.image.url(:small), class:"admin-project-image") %></td>
          <%= form_for [:borrower, current_user, project], url: borrower_user_project_path(current_user, project) do |f| %>
          <td><%= f.label :name, class:"sr-only" %>
          <%= f.text_field :name, placeholder: "name", class: "project-update-form"%></td>
          <td><%= f.label :goal, class:"sr-only"  %>
          <%= f.text_field :goal, placeholder: "goal", class: "project-update-form"%></td>
          <td><%= f.label :description, class:"sr-only"  %>
          <%= f.text_field :description, placeholder: "description", class: "project-update-form" %></td>
          <td><%= f.collection_select(:category_id, Category.all, :id, :name, {prompt:"category"}, {id:"project-category", required:true, class: "project-update-form"}) %></td>
          <td><%= f.collection_select(:country_id, Country.all, :id, :name, {prompt:"country"}, {id:"country-list", required:true, class: "project-update-form"}) %></td>
          <%= f.label :image, class:"sr-only"  %>
          <%= f.file_field :image, { id:"#{project.id}_file_input", style:"display:none" } %>
            <label class="file">
            <td><a class="btn btn-primary btn-s" onclick="$('input[id=<%= project.id %>_file_input]').click();">update image</a></td>
            </label>
          <td><%= f.submit "update project", class:"btn btn-checkout btn-s"%></td>
          <% end %>
        </tr>
        <script type="text/javascript">
        $('input[id= <%= project.id %>_file_input]').change(function() {
          $('#imageFormCover').val($(this).val());
        });
        </script>
      <% end %>
    <% end %>
  </table>
</div>
