<h3>Annual Income Scoring</h3>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-projects">
    <thead>
      <tr>
        <th>Income Range</th>
        <th>Point value</th>
        <th>Submit</th>
      </tr>
    </thead>

      <% @borrower_attributes.annual_income.each do |income| %>
        <tr id="<%= income.id %>-income">
          <%= form_tag(admin_borrower_attribute_path(income.id), method: :put) do %>
            <td>
            <%= text_field_tag :label, income.label, class: "project-update-form" %></td>
            <td><%= select_tag :score, options_for_select([*1..25], income.score), class: "form-control"  %></td>
            <td><%= submit_tag "update score", class:"btn btn-checkout btn-s"%></td>
          <% end %>
        </tr>
      <% end %>
  </table>
</div>

  <!-- ################ Refactor if time allows -->

<h3>Housing Cost Scoring</h3>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-projects">
    <thead>
      <tr>
        <th>Housing Cost</th>
        <th>Point value</th>
        <th>Submit</th>
      </tr>
    </thead>

      <% @borrower_attributes.housing_costs.each do |housing| %>
        <tr id="<%= housing.id %>-housing">
          <%= form_tag(admin_borrower_attribute_path(housing.id), method: :put) do %>
            <td><%= text_field_tag :label, housing.label, class: "project-update-form" %></td>
            <td><%= select_tag :score, options_for_select([*1..25], housing.score), class: "form-control" %></td>
            <td><%= submit_tag "update score", class:"btn btn-checkout btn-s"%></td>
          <% end %>
        </tr>
      <% end %>
  </table>
</div>

<h3>Credit Card Debt Scoring</h3>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-projects">
    <thead>
      <tr>
        <th>Credit Payments</th>
        <th>Point value</th>
        <th>Submit</th>
      </tr>
    </thead>

      <% @borrower_attributes.credit_payments.each do |credit_payment| %>
        <tr id="<%= credit_payment.id %>-credit-payment">
          <%= form_tag(admin_borrower_attribute_path(credit_payment.id), method: :put) do %>
            <td><%= text_field_tag :label, credit_payment.label, class: "project-update-form" %></td>
            <td><%= select_tag :score, options_for_select([*1..25], credit_payment.score), class: "form-control"  %></td>
            <td><%= submit_tag "update score", class:"btn btn-checkout btn-s"%></td>
          <% end %>
        </tr>
      <% end %>
  </table>
</div>

<h3>Dependents Scoring</h3>
<div class="table-responsive">
  <table class="table table-hover table-condensed table-projects">
    <thead>
      <tr>
        <th>Dependents</th>
        <th>Point value</th>
        <th>Submit</th>
      </tr>
    </thead>

      <% @borrower_attributes.dependents.each do |dependent| %>
        <tr id="<%= dependent.id %>-dependent">
          <%= form_tag(admin_borrower_attribute_path(dependent.id), method: :put) do %>
            <td><%= text_field_tag :label, dependent.label, class: "project-update-form" %></td>
            <td><%= select_tag :score, options_for_select([*1..25], dependent.score), class: "form-control"  %></td>
            <td><%= submit_tag "update score", class:"btn btn-checkout btn-s"%></td>
          <% end %>
        </tr>
      <% end %>
  </table>
</div>
