<div class="general-hero-unit category-hero-unit">
  <div class="container text-center hero-container">
    <a href="/categories/<%= @category.slug %>">
      <h1><%= @category.name %></h1>
    </a>
  </div>
</div>
<%= render partial: "shared/search_projects" %>
<div class="container-fluid">
  <div class="row">
    <% @category.active_projects.each do |project| %>
      <%= render partial:"shared/project_loop", locals: {project: project} %>
    <% end %>
  </div>
  <div class="category-name">
    <h2>more stuff you may like</h2>
    <div class="aligncenter divider">-</div>
  </div>
  <%= render partial: "shared/featured_projects" %>
</div>
<%= render partial: "shared/mailing_list" %>
<%= render partial: "shared/footer" %>
