<div class="container sign-up-div">
  <div class="row text-center">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6">
      <h1><small>sign up 🎉</small></h1>
    </div>
    <div class="col-xs-3">
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div id="signup" class="col-xs-6">
      <div class="form-group text-center form-div">
      <%= form_tag(borrower_users_path) do %>
      <%= label_tag :fullname,  nil, class:"sr-only"  %>
        <%= text_field_tag :fullname, nil, required:true, placeholder: "name", class:"form-control text-input" %><br>
        <%= label_tag :email,  nil, class:"sr-only"  %>
        <%= email_field_tag :email, nil, required:true, placeholder: "email", class:"form-control text-input" %><br>
        <%= label_tag :password,  nil, class:"sr-only"  %>
        <%= password_field_tag :password, nil, required:true, placeholder: "enter or create password", class:"form-control text-input" %><br>
        <%= select_tag :annual_income, options_from_collection_for_select(BorrowerAttribute.annual_income, 'score', 'label'), {class: "form-control text-input", required:true, prompt:"annual income"} %><br>
        <%= select_tag :monthly_housing, options_from_collection_for_select(BorrowerAttribute.housing_costs, 'score', 'label'), {class: "form-control text-input", required:true, prompt: "monthly mortgage or rent payment"} %><br>
        <%= select_tag :monthly_credit_pmt, options_from_collection_for_select(BorrowerAttribute.credit_payments, 'score', 'label'), {class: "form-control text-input", required:true, prompt: "monthly credit payment"} %><br>
        <%= select_tag :dependents, options_from_collection_for_select(BorrowerAttribute.dependents, 'score', 'label'), {class: "form-control text-input", required:true, prompt: "number of dependents"} %><br>
        <%= label_tag :image,  nil, class:"sr-only"  %>
        <%= file_field_tag :image, { id:"file_input", class:"form-control text-input", style:"display:none" } %>
        <br>
        <%= submit_tag "Apply", class:"btn btn-checkout" %>
      <% end %>
      </div>
    </div>
    <div class="col-xs-3">
    </div>
  </div>
</div>
