  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-center dashboard-rev-header">
        <span class="number-header">$<%= number_with_delimiter(@orders.total_revenue, delimiter: ',')%></span><span class="text-header">total revenue</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <%= area_chart Loan.group_by_month(:created_at).maximum(:quantity) %>
      </div>
    </div>
    <div class="row rev-data-row text-center">
      <div class="col-xs-1 text-center">
      </div>
      <div class="col-xs-2 rev-data text-center">
        <h4 class="data-point-header"><small>daily avg</small></h4>
        <p class="revenue-span">$<%= number_with_delimiter(@orders.daily_average_revenue, delimiter: ',')%></p>
      </div>
      <div class="col-xs-3 rev-data text-center">
        <h4 class="data-point-header"><small>weekly avg</small></h4>
        <span class="revenue-span">$<%= number_with_delimiter(@orders.weekly_average_revenue, delimiter: ',')%></span>
      </div>
      <div class="col-xs-2 rev-data text-center">
        <h4 class="data-point-header"><small>loans</small></h4>
        <span class="revenue-span"><%= Loan.count %></span>
      </div>
      <div class="col-xs-2 rev-data text-center">
        <h4 class="data-point-header"><small>users</small></h4>
        <span class="revenue-span"><%= User.count %></span>
      </div>
      <div class="col-xs-2 text-center">
      </div>
    </div>
    <div class="row dashboard-second-row">
      <div class="col-xs-12 text-center dashboard-rev-sub-header">
        <span class="text-header">all over the map</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <%= geo_chart Project.joins(:country).group("countries.name").count %>
      </div>
      <div class="col-xs-6">
        <%= pie_chart Project.category_distribution %>
      </div>
    </div>
  <div class="row rev-data-row text-center">
    <div class="col-xs-5 rev-data sub-data text-center">
      <h4><span class="label label-info top-state">top country</span></h4>
      <p class="revenue-span"><%= Order.top_country %></p>
    </div>
    <div class="col-xs-2 text-center">
    </div>
    <div class="col-xs-5 rev-data sub-data text-center">
      <h4><span class="label label-info top-project">top project</span></h4>

      <% if !@loans.empty? %>
        <span class="revenue-span"><%= link_to @loans.top_project.name, project_path(@loans.top_project) %></span>
      <% end %>
    </div>
  </div>
</div>
