<h1><%= @country.name %></h1>
<div class="all-hero-unit category-hero-unit">
  <div class="container text-center hero-container">
      <% @projects.each do |project| %>
        <div class="col-xs-12 col-sm-6 col-md-4 project-div">
          <div class="row sm-project-row project-row">
            <div class="col-xs-12" id="<%= project.id %>-index">
              <%= link_to image_tag(project.image.url(:show), class: "img-responsive project-image"), project_path(project.slug), id: "#{project.id}-project-image" %>
              <div class="sm-project-info">
                <h4><%= link_to project.name, project_path(project.slug), id: "#{project.id}-project" %></h4>
                <p><%= project.category.name %></p>
                <p>Amount Needed: <%= project.display_goal %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <%= render partial: "shared/featured_projects" %>
</div>
<%= render partial: "shared/mailing_list" %>
